<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<ul>
<% @chefs.each do |chef|  %>

<li><%= chef.first_name %> <%= chef.last_name %> - <%= chef.chef.description %></li>

<% end %>

</ul>