.footer {
    background-color: grey;
    height: 100px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -100px;
}
.footer,
.push {
  height: 100px;
}